a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_3f6c2a40 a { text-decoration: none; }
#menu_3f6c2a40_pane { background-color: #A8BFFF; border: 1px solid #A8BFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_3f6c2a40_hr { background-color: #A8BFFF; height: 1px; border: none; }
#menu_3f6c2a40_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_3f6c2a40_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_3f6c2a40_entry:hover span { color:#FFFFFF !important; }
		.menu_3f6c2a40_mainMenuEntry { text-align: center; }
		.menu_3f6c2a40_mainMenuEntry:hover {	background-color:#282828; }
		.menu_3f6c2a40_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_3f6c2a40 .mobileEntry { display: none; } 
		#menu_3f6c2a40 .normalEntry { display: block; } 
		@media only screen and (max-width:580px) { 
			#menu_3f6c2a40 .mobileEntry { display: block; } 
			#menu_3f6c2a40 .normalEntry { display: none; } 
		}
#table_38dfcc29 th { border: 1px solid #8C8C8C;  } 
#table_38dfcc29 td { border: 1px solid #8C8C8C;  } 
body { background-color:#BFFFA8; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_26d632b2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:103px; background-color:#A8BFFF;  }
#container_26d632b2_padding { margin: 10px; display: block;  }
#container_37a11612 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:91px; background:none;  }
#container_37a11612_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:18pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle4 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
#container_17bcaa8a { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:91px; background:none;  }
.textstyle5 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px #000000;  }
#menu_3f6c2a40 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:44px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:65px;  }
.textstyle6 { font-size:36pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  white-space: nowrap; }
.style3 { position:absolute; width:65px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle7 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  white-space: nowrap; }
.style5 { position:absolute; width:129px; height:38px; left:75px;  }
.style6 { position:absolute; width:71px; height:38px; left:204px;  }
.style7 { position:absolute; width:62px; height:38px; left:275px;  }
.textstyle8 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.textstyle9 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_7654827e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_7654827e_padding { margin: 10px; display: block;  }
#table_38dfcc29 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:100%; height:176px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_559496b4 {  }
.textstyle11 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_470a19a6 {  }
#cell_71cab3b7 {  }
#cell_10a7ae43 {  }
#cell_5d738f1a {  }
#cell_64e75074 {  }
#cell_709a2675 {  }
#cell_7730deb8 {  }
#cell_4499ce4b {  }
#cell_503dc52c {  }
#cell_1af2016d {  }
#cell_bab2daa {  }
#cell_4564899d {  }
#cell_3115e070 {  }
#cell_499a5414 {  }
#cell_67556146 {  }
#cell_2fe6ba7a {  }
#cell_f3ae3e4 {  }
#cell_5cda51f1 {  }
#cell_3f18fe92 {  }
#cell_3f18fe92 {  }
#cell_3f18fe92 {  }
#cell_3f18fe92 {  }
@media only screen and (max-width: 360px)
{
		#container_37a11612 { width:100%;  }
}
